{% extends "../../layout-xui.html" %}

{% block pageTitle %}
Case details
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="#" onclick="goBack();">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-l">
            {% if data['viewandchange'] == 'true' %}
                View or edit hearing
            {% else %}
                Check your answers before sending your request
            {% endif %}
        </h1>

        <form class="form" action="hearing-confirmation" method="post">

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Case name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Jane Smith vs DWP
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Hearing type
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Final hearing
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                {% if data['viewandchange'] == 'true' %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Status
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if data['status'] == 'pending' %}
                        <strong class="govuk-tag govuk-tag--grey">Waiting to be listed</strong>
                        {% elif data['status'] == 'listed' %}
                        <strong class="govuk-tag govuk-tag--turquoise">Listed</strong>
                        {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
                {% endif %}
            </dl>

            <h2 class="govuk-heading-m">Hearing details</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <!-- HEARING REQUIREMENTS -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Hearing requirements
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Language interpreter<br />
                        Sign language interpreter<br />
                        Reasonable adjustments - Hearing loop required
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if data.changesallowed != 'false' %}
                        <a class="govuk-link" href="hearing-requirements?backtocheckanswers=true&">
                            Change
                        </a>
                        {% endif %}
                    </dd>
                </div>
                <!-- ADDITIONAL FACILITIES -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Additional facilities required
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{  data['facilities'] }} <br /><br />
                        {{  data['otherFacilities'] | striptags(true) | escape | nl2br  }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if data.changesallowed != 'false' %}
                        <a class="govuk-link" href="hearing-requirements-facilities?backtocheckanswers=true&">
                            Change
                        </a>
                        {% endif %}
                    </dd>
                </div>
                <!-- HEARING STAGE -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        What stage is this hearing at?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data.hearingstage }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if data.changesallowed != 'false' %}
                        <a class="govuk-link" href="hearing-stage?backtocheckanswers=true&">
                            Change
                        </a>
                        {% endif %}
                    </dd>
                </div>
                <!-- HEARING ATTENDANCE -->
                <div class="govuk-summary-list__row">
                    {% if data.hybridHearing == 'yes' %}
                    <dt class="govuk-summary-list__key">
                        How will each party attend the hearing?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Jane Smith - {{ data.party1Channel }} <br />
                        DWP - {{ data.party3Channel }} <br />
                        Claimant representative - {{ data.party3Channel }} <br />
                        Respondent representative - {{ data.party4Channel }} <br />
                    </dd>
                    {% else %}
                    <dt class="govuk-summary-list__key">
                        How will the hearing take place?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['all-parties-channel'] }}
                    </dd>
                    {% endif %}
                    <dd class="govuk-summary-list__actions">
                        {% if data.changesallowed != 'false' %}
                        <a class="govuk-link" href="hearing-attendance?backtocheckanswers=true&">
                            Change
                        </a>
                        {% endif %}
                    </dd>
                </div>
                <!-- HEARING VENUE -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        What are the hearing venue details?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        London<br /><br />
                        Birmingham Civil and Family Justice Centre
<!--                        {{  data['regionselection']  }}<br /><br />-->
<!--                        {{ data['venue'] | striptags(true) | escape | nl2br  }}-->
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if data.changesallowed != 'false' %}
                        <a class="govuk-link" href="hearing-venue?backtocheckanswers=true&">
                            Change
                        </a>
                        {% endif %}
                    </dd>
                </div>
            </dl>


            <!-- JUDGE -->
            {% if data.panelsame != 'Yes - use the same panel as most recent hearing' %}

            <h2 class="govuk-heading-m">Judge details</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Do you want a specific judge?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{  data.specificjudge }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if data.changesallowed != 'false' %}
                        <a class="govuk-link" href="hearing-judge?backtocheckanswers=true&">
                            Change
                        </a>
                        {% endif %}
                    </dd>
                </div>

                <!-- SPECIFIC JUDGE -->
                {% if data.specificjudge == 'Yes' %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Name of the judge
                    </dt>
                    <dd class="govuk-summary-list__value">
                        John Snow (john.snow@justice.gov.uk)
                        <!-- {{  data.name-of-judge }}-->
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if data.changesallowed != 'false' %}
                        <a class="govuk-link" href="hearing-judge?backtocheckanswers=true&">
                            Change
                        </a>
                        {% endif %}
                    </dd>
                </div>
                {% else %}
                <!-- NO SPECIFIC JUDGE -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Select a judge type
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{  data.judgecontract }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if data.changesallowed != 'false' %}
                        <a class="govuk-link" href="hearing-judge?backtocheckanswers=true&">
                            Change
                        </a>
                        {% endif %}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Exclude a judge who wasn't on a previous panel
                    </dt>
                    <dd class="govuk-summary-list__value">

                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if data.changesallowed != 'false' %}
                        <a class="govuk-link" href="hearing-judge?backtocheckanswers=true&">
                            Change
                        </a>
                        {% endif %}
                    </dd>
                </div>
                {% endif %}
            </dl>

            {% endif %}


            <!-- PANEL -->
            <h2 class="govuk-heading-m">Panel details</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Do you require a panel for this hearing?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if data.hearingPanel == 'yes' %}
                        Yes
                        {% else %}
                        No
                        {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if data.changesallowed != 'false' %}
                        <a class="govuk-link" href="hearing-panel?backtocheckanswers=true&">
                            Change
                        </a>
                        {% endif %}
                    </dd>
                </div>

                <!-- EXISTING JUDGE+PANEL -->
                {% if data.hearingPanel == 'yes' %}

                    <!-- SAME JUDGE + PANEL (Only if this is not the first hearing) -->
                    {% if data.panelsame == 'Yes - use the same panel as most recent hearing' %}

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Use the most recent panel again?
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Yes
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                {% if data.changesallowed != 'false' %}
                                <a class="govuk-link" href="hearing-panel-existing?backtocheckanswers=true&">
                                    Change
                                </a>
                                {% endif %}
                            </dd>
                        </div>

                        <!-- PREVIOUS PANEL -->
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Judge
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Her Honour Judge Jones
                            </dd>
                            <dd class="govuk-summary-list__actions">
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Tribunal Medical Member
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Dr David Naran
                            </dd>
                            <dd class="govuk-summary-list__actions">
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Disability Qualified Member
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Penny Williams
                            </dd>
                            <dd class="govuk-summary-list__actions">
                            </dd>
                        </div>

                    <!-- ELSE IF NEW PANEL -->

                    {% elif data.panelsame == 'No - select a new panel' %}

                        <!-- INCLUDE/EXCLUDE/ROLES -->
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Include specific panel members
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{  data.addpersonsname }}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                {% if data.changesallowed != 'false' %}
                                <a class="govuk-link" href="hearing-panel-new?backtocheckanswers=true&">
                                    Change
                                </a>
                                {% endif %}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Exclude specific panel members
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{  data.excludepersonsname }}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                {% if data.changesallowed != 'false' %}
                                <a class="govuk-link" href="hearing-panel-new?backtocheckanswers=true&">
                                    Change
                                </a>
                                {% endif %}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Select any other panel roles required
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{  data['panel-members']  }}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                {% if data.changesallowed != 'false' %}
                                <a class="govuk-link" href="hearing-panel-new?backtocheckanswers=true&">
                                    Change
                                </a>
                                {% endif %}
                            </dd>
                        </div>

                    {% endif %}

                {% endif %}

            </dl>

            <h2 class="govuk-heading-m">Duration and date of hearing</h2>

            <!-- DURATION AND DATE -->
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Length of hearing
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{  data.durationhours }} hours {% if data.durationmins|length %} and {{  data.durationmins }} minutes {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if data.changesallowed != 'false' %}
                            <a class="govuk-link" href="hearing-duration?backtocheckanswers=true&">
                                Change
                            </a>
                        {% endif %}
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Does the hearing need to take place on a specific date?
                    <dd class="govuk-summary-list__value">
                        {{  data.dateradios }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if data.changesallowed != 'false' %}
                        <a class="govuk-link" href="hearing-duration?backtocheckanswers=true&">
                            Change
                        </a>
                        {% endif %}
                    </dd>
                </div>

                {% if data['dateradios'] == 'Yes' %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        The first date of the hearing must be

                    <dd class="govuk-summary-list__value">
                        {{ data['firstdateday'] }} / {{ data['firstdatemonth'] }} / {{ data['firstdateyear'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if data.changesallowed != 'false' %}
                        <a class="govuk-link" href="hearing-duration?backtocheckanswers=true&">
                            Change
                        </a>
                        {% endif %}
                    </dd>
                </div>
                {% endif %}

                {% if data['dateradios'] == 'Choose a date range' %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Earliest hearing date
                        <dd class="govuk-summary-list__value">
                        {{ data['earliestdateday'] }} / {{ data['earliestdatemonth'] }} / {{ data['earliestdateyear'] }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            {% if data.changesallowed != 'false' %}
                                <a class="govuk-link" href="hearing-duration?backtocheckanswers=true&">
                                    Change
                                </a>
                            {% endif %}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Latest hearing date
                        <dd class="govuk-summary-list__value">
                        {{ data['latestdateday'] }} / {{ data['latestdatemonth'] }} / {{ data['latestdateyear'] }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            {% if data.changesallowed != 'false' %}
                                <a class="govuk-link" href="hearing-duration?backtocheckanswers=true&">
                                    Change
                                </a>
                            {% endif %}
                        </dd>
                    </div>
                {% endif %}

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Is this a priority hearing?
                    <dd class="govuk-summary-list__value">
                        {{ data.priorityHearing }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if data.changesallowed != 'false' %}
                            <a class="govuk-link" href="hearing-duration?backtocheckanswers=true&">
                                Change
                            </a>
                        {% endif %}
                    </dd>
                </div>

            </dl>

            {% if (data.regionselection == "Wales") or (data['welsh-hearing'] == "true") %}
            <h2 class="govuk-heading-m">Other requirements</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Does this hearing need to be in Welsh?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{  data.welshHearing  }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if data.changesallowed != 'false' %}
                            <a class="govuk-link" href="hearing-welsh">
                                Change
                            </a>
                        {% endif %}
                    </dd>
                </div>

            </dl>
            {% endif %}



            {% if data.afterhearinghappend == 'true' %}

                    <h2 class="govuk-heading-m">Outcome of the hearing</h2>

                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Placeholder
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Placeholder
                            </dd>
                            <dd class="govuk-summary-list__actions">
<!--                                {% if data.changesallowed != 'false' %}-->
<!--                                <a class="govuk-link" href="/hearings/pages/language">-->
<!--                                    Change-->
<!--                                </a>-->
<!--                                {% endif %}-->
                            </dd>
                        </div>

                    </dl>

            {% endif %}

            {% if data.changesallowed != 'false' %}
                <form
                    name="aspnetForm"
                    method="post"
                    id="aspnetForm"
                    autocomplete="off"
                    >

                    {% if  data.drafthearing == 'false'   %}
                        <div class="govuk-form-group  govuk-!-margin-top-5" >
                            <button class="govuk-button" data-module="govuk-button">
                                Submit updated request
                            </button>
                        </div>

                    {% else %}
                        <div class="govuk-form-group  govuk-!-margin-top-5" >
                            <button class="govuk-button" data-module="govuk-button">
                                Submit request
                            </button>
                        </div>
                    {% endif %}
                </form>
            {% endif %}

    </div>
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>

<form method="post" action="#" style="position: absolute; margin-top: 60px;">
    <fieldset class="govuk-fieldset">
        <div class="govuk-form-group">
            <label class="govuk-label" for="data-c1" style="font-size: 16px;">
                Welsh hearing (question and row only appears if a Welsh venue is selected)
            </label>
            <select style="height: 30px;padding:0 5px;font-size: 14px;" class="govuk-select" id="data-c1" name="data-c1" onchange="window.location.href='?'+this.value">
                <option value="welsh-hearing=true&"
                        {% if data['welsh-hearing'] == 'true' %} selected  {% endif %}
                >Show</option>

                <option value="welsh-hearing=false&"
                        {% if data['welsh-hearing'] != 'true' %} selected  {% endif %}
                >Hide</option>

            </select>
        </div>
    </fieldset>
</form>

{% endblock %}