{% extends "../../layout-xui.html" %}

{% block pageTitle %}
Case details
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="#" onclick="goBack();">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Hearing request submitted
            </h1>
            <div class="govuk-panel__body">
                Your request for a hearing will now be processed
            </div>
        </div>

        <p class="govuk-body"></p>

        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">
            You can <a href="index" class="govuk-link">view the status of this request in the hearings tab</a>.
        </p>
        <p class="govuk-body">
            If the hearing can’t be listed automatically, it will be sent to a member of staff to be processed.
        </p>

<!--                            <p class="govuk-body">-->
<!--                                <a href="/hearings/pages/casedetailsdivorce?submissioncomplete=true&justsubmitted=true&aftertenbmins=false&" class="govuk-link">View case</a>-->
<!--                            </p>-->

    </div>
</div>








<!--<div style="width:400px;">-->

<!--    <form method="post"  action="#" class="for4" style=" float: left; margin-top: 140px;">-->
<!--        <p style="margin-bottom:0px;">Error on submission</p>-->
<!--        <select style="height:25px;" onchange="window.location.href='?'+this.value">-->

<!--            <option value="confimationerror=false&"-->
<!--                    {% if data.confimationerror != 'true'    %}selected{% endif %}-->
<!--            >No error</option>-->

<!--            <option value="confimationerror=true&"-->
<!--                    {% if data.confimationerror == 'true'    %}selected{% endif %}-->
<!--            >Error</option>-->

<!--        </select>-->
<!--    </form>-->

<!--</div>-->

{% endblock %}