{% extends "../../layout-xui.html" %}

{% block pageTitle %}
Case details
{% endblock %}

{% block beforeContent %}
    <a class="govuk-back-link" href="#" onclick="goBack();">Back</a>
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <span class="govuk-caption-l">Request a hearing for Jane Smith and Asda Plc</span>
            <h1 class="govuk-heading-l">
                How will each party attend the hearing?
            </h1>

            <form class="form" action="hearing-requirements" method="post">

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset govuk-!-margin-bottom-4 govuk-!-margin-top-4">
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="party1Channel">
                                <strong>Jane Smith</strong>
                            </label>
                            <select class="govuk-select" id="party1Channel" name="party1Channel">
                                <option value="In person" selected>In person</option>
                                <option value="By phone">By phone</option>
                                <option value="By video">By video</option>
                                <option value="Not attending">Not attending</option>
                            </select>
                        </div>
                    </fieldset>

                    <fieldset class="govuk-fieldset govuk-!-margin-bottom-4">
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="party2Channel">
                                <strong>Asda Plc</strong>
                            </label>
                            <select class="govuk-select" id="party2Channel" name="party2Channel">
                                <option value="In person" selected>In person</option>
                                <option value="By phone">By phone</option>
                                <option value="By video">By video</option>
                                <option value="Not attending">Not attending</option>
                            </select>
                        </div>
                    </fieldset>

                    <fieldset class="govuk-fieldset govuk-!-margin-bottom-4">
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="party3Channel">
                                <strong>Claimant representative</strong>
                            </label>
                            <select class="govuk-select" id="party3Channel" name="party3Channel">
                                <option value="In person" selected>In person</option>
                                <option value="By phone">By phone</option>
                                <option value="By video">By video</option>
                                <option value="Not attending">Not attending</option>
                            </select>
                        </div>
                    </fieldset>

                    <fieldset class="govuk-fieldset govuk-!-margin-bottom-4">
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="party4Channel">
                                <strong>Respondent representative</strong>
                            </label>
                            <select class="govuk-select" id="party4Channel" name="party4Channel">
                                <option value="In person" selected>In person</option>
                                <option value="By phone">By phone</option>
                                <option value="By video">By video</option>
                                <option value="Not attending">Not attending</option>
                            </select>
                        </div>
                    </fieldset>

<!--                    <fieldset class="govuk-fieldset govuk-!-margin-bottom-4">-->
<!--                        <div class="govuk-form-group">-->
<!--                            <label class="govuk-label" for="party5Channel">-->
<!--                                <strong>Party 5</strong>-->
<!--                            </label>-->
<!--                            <select class="govuk-select" id="party5Channel" name="party5Channel">-->
<!--                                <option value="In person" selected>In person</option>-->
<!--                                <option value="By phone">By phone</option>-->
<!--                                <option value="By video">By video</option>-->
<!--                                <option value="Not attending">Not attending</option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                    </fieldset>-->

<!--                    <fieldset class="govuk-fieldset govuk-!-margin-bottom-4">-->
<!--                        <div class="govuk-form-group">-->
<!--                            <label class="govuk-label" for="party6Channel">-->
<!--                                <strong>Party 6</strong>-->
<!--                            </label>-->
<!--                            <select class="govuk-select" id="party6Channel" name="party6Channel">-->
<!--                                <option value="In person" selected>In person</option>-->
<!--                                <option value="By phone">By phone</option>-->
<!--                                <option value="By video">By video</option>-->
<!--                                <option value="Not attending">Not attending</option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                    </fieldset>-->

<!--                    <fieldset class="govuk-fieldset govuk-!-margin-bottom-4">-->
<!--                        <div class="govuk-form-group">-->
<!--                            <label class="govuk-label" for="party7Channel">-->
<!--                                <strong>Party 7</strong>-->
<!--                            </label>-->
<!--                            <select class="govuk-select" id="party7Channel" name="party7Channel">-->
<!--                                <option value="In person" selected>In person</option>-->
<!--                                <option value="By phone">By phone</option>-->
<!--                                <option value="By video">By video</option>-->
<!--                                <option value="Not attending">Not attending</option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                    </fieldset>-->

<!--                    <fieldset class="govuk-fieldset govuk-!-margin-bottom-4">-->
<!--                        <div class="govuk-form-group">-->
<!--                            <label class="govuk-label" for="party8Channel">-->
<!--                                <strong>Party 8</strong>-->
<!--                            </label>-->
<!--                            <select class="govuk-select" id="party8Channel" name="party8Channel">-->
<!--                                <option value="In person" selected>In person</option>-->
<!--                                <option value="By phone">By phone</option>-->
<!--                                <option value="By video">By video</option>-->
<!--                                <option value="Not attending">Not attending</option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                    </fieldset>-->
                </div>

                <button class="govuk-button" data-module="govuk-button">Continue</button>

            </form>

        </div>
    </div>



<script>
    function goBack() {
        window.history.back();
    }
</script>


{% endblock %}