{% extends "../../layout-xui.html" %}

{% block pageTitle %}
Case details
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="#" onclick="goBack();">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <form class="form" action="hearing-requirements-facilities" method="post">

        <div class="govuk-grid-column-full">

            <span class="govuk-caption-l">Request a hearing for Jane Smith vs DWP</span>
            <h1 class="govuk-heading-l">
                Hearing requirements
            </h1>

            <p class="govuk-body">
                <strong>Hearing type</strong><br />
                03 PIP
            </p>

            <!-- Case flags table -->
            <div class="govuk-form-group  govuk-!-padding-top-4">

                <table class="govuk-table">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header" width="300">Jane Smith</th>
                        <th scope="col" class="govuk-table__header" width="550">Description</th>
                        <th scope="col" class="govuk-table__header" width="100">Flag status</th>
                        <th scope="col" class="govuk-table__header" width="50">Importance</th>
                        <th scope="col" class="govuk-table__header" width="20"></th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Language Interpreter</td>
                        <td class="govuk-table__cell">Spanish interpreter required</td>
                        <td class="govuk-table__cell">
                            <strong class="govuk-tag">Active</strong>
                        </td>
                        <td td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--orange">MEDIUM</strong></td>
                        <td td class="govuk-table__cell" style="padding-bottom: 9px!important;padding-top: 8px!important;margin-bottom: 0px;"><span class="govuk-body govuk-!-font-size-27" style="margin-bottom: 0px!important;">+</span></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Sign language interpreter</td>
                        <td class="govuk-table__cell">Sign language interpreter required</td>
                        <td class="govuk-table__cell">
                            <strong class="govuk-tag">Active</strong>
                        </td>
                        <td td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--orange">MEDIUM</strong></td>
                        <td td class="govuk-table__cell" style="padding-bottom: 9px!important;padding-top: 8px!important;margin-bottom: 0px;"><span class="govuk-body govuk-!-font-size-27" style="margin-bottom: 0px!important;">+</span></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Reasonable adjustment</td>
                        <td class="govuk-table__cell">Hearing loop required</td>
                        <td class="govuk-table__cell">
                            <strong class="govuk-tag">Active</strong>
                        </td>
                        <td td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--orange">MEDIUM</strong></td>
                        <td td class="govuk-table__cell" style="padding-bottom: 9px!important;padding-top: 8px!important;margin-bottom: 0px;"><span class="govuk-body govuk-!-font-size-27" style="margin-bottom: 0px!important;">+</span></td>
                    </tr>
                    </tbody>
                </table>

                <p class="govuk-body">Review <a href="">case flags and reasonable adjustments</a> if you need to make any changes.</p>

            </div>
        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-top-4">

            <button class="govuk-button" data-module="govuk-button">Continue</button>

        </div>
    </form>
</div>

<script>

    function goBack() {
        window.history.back();
    }

</script>

{% endblock %}