{% extends "layout.html" %}

{% block pageTitle %}
  PayBubble
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">User Testing - 6-12-21</h1>
<p>
  <a target="_blank" href="https://ucd-xui2-prototype.herokuapp.com/orders/pages/J2-paymenthistory">
    Journey 2
  </a>
</p>

<!-- <p>
  <a target="_blank" href="https://ucd-xui2-prototype.herokuapp.com/orders/pages/J3-paymenthistory">
    Journey 3
  </a>
</p> -->

<p>
  <a target="_blank" href="https://ucd-xui2-prototype.herokuapp.com/workallocation/pages/J4-wa-mytasks-refunds-approval">
    Journey 4
  </a>
</p>

<p>
  <a target="_blank" href="https://ucd-xui2-prototype.herokuapp.com/orders/pages/J5-paymenthistory">
    Journey 5
  </a>
</p>

<p>
  <a target="_blank" href="https://ucd-xui2-prototype.herokuapp.com/workallocation/pages/J7-wa-mytasks-refunds-approval">
    Journey 7
  </a>
</p>

{% endblock %}
