
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Prototypes</span>
        <h1 class="govuk-heading-xl">Hearings management: Actuals</h1>

        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <div class="govuk-accordion__section govuk-accordion__section--expanded">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                      Iteration 1
                    </span>
                    </h2>
                    <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
                        November 2021
                    </div>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                    <a href="version1/index" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                        Start prototype
                        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                        </svg></a>
                </div>
            </div>
        </div>




        <!--

        <p>Solicitor<br>
            <a href="solicitor/caselist">Case list</a><br>
        </p>

        <br>

        <p>Email - To solicitor who is being replaced<br>
            <a href="">They are now off record</a><br>
        </p>

        <p>Email - To solicitor who took themselves off record<br>
            <a href="">They are now off record</a><br>
        </p>

        <br>
        <br>

        <p><span class="govuk-!-font-weight-bold">Blocked by details froms services</span><br>
            Email - After caseworker approval<br>
            <a href="">Rejected</a><br>
            <a href="">Approved</a><br>
        </p>

        <p><span class="govuk-!-font-weight-bold">Blocked by business</span><br>
            Email - Citizen - After solicitor stop representing <br>
             <a href="">Already registered with IDAM</a><br>
             <a href="">Not registered with IDAM</a><br>
             <a href="">When case goes to paper</a>
        </p>

        -->

    </div>
</div>







{% endblock %}
