{% extends "layout.html" %}

{% block pageTitle %}
  PayBubble
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">User Testing - 17-02-22</h1>
<h2 class="govuk-heading-m">Last updated on 16th February 2022</h2>
<p>
  <a target="_blank" href="https://ucd-xui2-prototype.herokuapp.com/orders/pages/ways-to-pay/payment-check-before-you-pay-1">
    Journey 1
  </a>
  <br>
  They correct the mistake in the contact information and sends it back to the team leader for approval.
</p>
<p>
  <a target="_blank" href="https://ucd-xui2-prototype.herokuapp.com/orders/pages/ways-to-pay/payment-history-detail">
    Journey 2
  </a>
  <br>
  They complete all the required fields and sends it to a team leader for approval.
</p>

{% endblock %}
