{% extends "../../layout-ways-to-pay.html" %}

{% block pageTitle %}
    Case details
{% endblock %}

{% block content %}

<div>
  <h1 class="govuk-heading-l">Complete your claim</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">2. Prepare your claim</caption>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="#">Completeing your claim</a></th>
            <td class="govuk-table__cell">
              <strong class="govuk-tag">
                COMPLETED
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="#">Your details</a></th>
            <td class="govuk-table__cell">
              <strong class="govuk-tag">
                COMPLETED
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="#">Their details</a></th>
            <td class="govuk-table__cell">
              <strong class="govuk-tag">
                COMPLETED
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="#">Claim amount</a></th>
            <td class="govuk-table__cell">
              <strong class="govuk-tag">
                COMPLETED
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="#">Claim details</a></th>
            <td class="govuk-table__cell">
              <strong class="govuk-tag">
                COMPLETED
              </strong>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">3. Submit</caption>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="#">Check and Submit your claim</a></th>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey">
                INCOMPLETE
              </strong>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
